@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100..800&family=Space+Grotesk:wght@300..700&display=swap');

@import 'tailwindcss';

@source '../index.html';
@source './**/*.{ts,tsx,js,jsx}';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: 'Space Grotesk', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;

  --color-nova-pink: #ff0055;
  --color-nova-dark: #050505;
  --color-nova-panel: #0a0a0a;
  --color-nova-border: #262626;
  --color-nova-glow: rgba(255, 0, 85, 0.5);

  --animate-pulse-slow: pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  --animate-glitch: glitch 1s linear infinite;
}

@layer base {
  :root {
    color-scheme: dark;
    scroll-behavior: smooth;
  }

  body {
    background-color: transparent;
    color: #ffffff;
    overflow-x: hidden;
    font-family: var(--font-sans);
  }

  /* Custom scrollbar for terminal feel */
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #0a0a0a;
  }
  ::-webkit-scrollbar-thumb {
    background: #333;
    border: 1px solid #000;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #ff0055;
  }
}

@keyframes glitch {
  2%,
  64% {
    transform: translate(2px, 0) skew(0deg);
  }
  4%,
  60% {
    transform: translate(-2px, 0) skew(0deg);
  }
  62% {
    transform: translate(0, 0) skew(5deg);
  }
}
